@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 100%;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    height: 20%;
    width: 100%;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#navbar-pinterest{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar-pinterest img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
}

#navbar-pinterest button{
    width: 100%;
    border: #E9E9E9;
    background-color: white;
    border-radius: 50px;
    font-style:large 'Noto Sans JP', bold;
}

#navbar-pinterest button:hover{
    background-color: #E9E9E9;
}

#navbar-pinterest div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.izquierda {
    height: 100%;
    width: 20%;
    justify-content: flex-end;

}

.izquierda button{
    width: 50%;
    height: 25%;
}

.finder{
    height: 100%;
    width: 70%;
}

.finder input{
    width: 90%;
    height: 30%;
    background-color: #E9E9E9;
    border: none;
    justify-self: center;
    align-items: center;
    border-radius: 30px;
    text-align: left;
    padding-left: 5%;
    transition: 0.3s;
}

.finder input:hover{
    cursor: pointer;
    background-color: #dedede;
}

.derecha{
    height: 100%;
    width: 17%;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(5px, auto);
}

.card-image{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-image img{
    width: 250px;
    border-radius: 25px;
    max-width: 320px;
}