*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

body {
    max-width: 100%;
}

.navbar {
    width: 100%;
    height: 5px;
    justify-content: flex-start;
}

#pinterest-icon{
    width: 5%;
    height: 10%;
}

.d1{
    display: flex;

}




input {
    border-radius: 30px;
    background-color: #efefef !important;
    border-color: #efefef !important;
  }
input:hover {
    background-color: #dbdbdb !important;
    border-color: #dbdbdb !important;
  }



#grid-container{
    background-color: blue;
}


/*@media screen and (min-wdth: 768px) and (max-width:1024px){}*/